div {
    display: block;
    width: 100%;
    text-align: center;
    // .cell-left {
    //     width: 50%;
    //     float: left;
    //     text-align: center;
    // }
    // .cell-right {
    //     width: 50%;
    //     float: right;
    //     text-align: left;
    // }
}