<div>
    <div>
        <picture>
            <source media="(min-width: 300px)" srcset="{{pixarImageMd}}">
            <source media="(min-width: 100px)" srcset="{{pixarImageSm}}">
            <img src="{{pixarImageLg}}" alt="page not found" style="width:auto">
        </picture>
    </div>
    <div>
        <h1 style="color:darkred">A W W W . . . D O N ' T</h1>
        <h1>C R Y !!!</h1>
        <p>It's just a 404 Error!</p>
        <p>What you're looking for may have been misplaced in Long Term Memory.</p>
    </div>
</div>